<h1><%= @game.theme %></h1>

<% @game.boards.each do |board| %>
	<p><%= link_to board.name, board_path(board) %></p>
<% end %>


<h3><%= link_to "Join a New Board", new_game_board_path(@game) %></h3>
