<h1>Board Show Page</h1>

<p><%= @board.name %></p>

<div class="clue-box">
	<form>
		What's up <input type="text" name="question"><br>
		<input type="submit" value="Submit">
	</form>
</div>

<div class="clue-box">
	<form>
		What's up <input type="text" name="question"><br>
		<input type="submit" value="Submit">
	</form>
</div>

<div class="clue-box">
	<form>
		What's up <input type="text" name="question"><br>
		<input type="submit" value="Submit">
	</form>
</div>

<div class="clue-box">
	<form>
		What's up <input type="text" name="question"><br>
		<input type="submit" value="Submit">
	</form>
</div>
