/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_self
 *= require_tree .
 */

@import "foundation/components/panels";

html {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #FFFFFF;
}

.wait h3 {
  color: #FF8102;
}

a {
  color: #FF8102;
  hover: #90A69C;
}

.logo {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6em;
}

.panel {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

.finished {
  border-radius: 20px;
  background-color: #FFFFFF;
  border: 5px solid #E04C59;
}

.wait {
  border-radius: 20px;
  background-color: #FFFFFF;
  border: 5px solid #FFF27B;
}

.play {
  border-radius: 20px;
  background-color: #FFFFFF;
  border: 5px solid #007385;
}

.meter {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  color: #fff;
  padding-left: 10px;
}