// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clue-box {
	border: 1px solid black;
	width: 250px;
	height: 250px;
	margin: 10px;
}

.user-input {
	border: 1px solid green;
	width: 200px;
	height: 100px;
	margin: 10px;
}

.meter {
  color: #000;
}