
.intro {
  text-align: center;
  clear: all;
  color: black;
  font-size: 40px;
  margin-left: 40px;
  margin-bottom: 30px;
  marging-top: 30px;
  padding: 175px 0;
  font-family: 'Josefin Sans', sans-serif;
}
.main-title {
  color:#519b9b;
  font-family: 'Leckerli One', Helvetica, sans-serif;
  font-size: 125px;
  padding-bottom: 20px;
}
.desc-line-two {
padding-bottom: 20px;
}

.desc {
  padding-top: 20px;
}

.all-games{
  height: 100%;

}
.finished {
  border-radius: 20px;
  background-color: #FFFFFF;
  border: 5px solid #E04C59;
  height: 100px;
  width: 300px;
  margin-left: 142px;
  margin-top: 50px;
  float: left; 
}

.all-done {
  height: 1300px;
  width : 1500px;
  border: 2px solid black;
  display: block-inline;
  text-align: center;
}

.fin{
  font-family: 'Leckerli One', Helvetica, sans-serif;
  font-size: 45px;
  color: #244c17;
  margin-top: 75px;
  margin-bottom: 20px;
}
.fin-description {
  font-size: 25px;
  color: #244c17;
  margin-bottom: 80px;
  margin-top: 15px;
}

.wait {
  border-radius: 20px;
  background-color: #FFFFFF;
  border: 5px solid #FBCF53;
  height:300px;
  width:350px;
  margin-left: 105px;
  margin-top: 35px;
  float: left;
}

.waiting {
  height: 800px;
  width : 1500px;
  border: 2px solid black;
  display: block-inline;
  text-align: center;
}

.waiting h1 {
  font-family: 'Leckerli One', Helvetica, sans-serif;
  font-size: 45px;
  color: #244c17;
  margin-top: 100px;
  margin-bottom: 100px;
}

.waiting h3 {
  font-size: 35px;
  padding-top: 35px;
  padding-bottom: 20px;
}
.date p {
  padding-bottom: 10px;
  font-size: 20px;
}
.date .time-box {
  padding-bottom: 40px;
  font-size: 18px;
}

.countdown{
  padding-top: 15px;
  width: 390px;
  margin-left: -40px;
  background: #FFFFFF;
  border: 5px solid #FBCF53;
  border-radius: 20px;
  padding: 15px;
  position: relative;
}

.countdown .time-box {
  font-size: 15px;
}

.countdown .time-box div {
  font-size: 55px;

}
.time-box {
  margin-left: 20px;
}
.play {
  border-radius: 75px;
  background-color: #FFFFFF;
  border: 5px solid #007385;
  height:350px;
  width:350px;
  margin-left: 107px;
  margin-top: 50px;
  float: left;
}
.now {
  height: 800px;
  width : 1500px;
  border: 2px solid black;
  display: block-inline;
  text-align: center;
}

.now h1 {
  font-size: 45px;
  color: #244c17;
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: 'Leckerli One', Helvetica, sans-serif;  
}
.now h3 {
  font-size: 35px;
  padding-top: 35px;
  padding-bottom: 20px;
  text-decoration: none; 
}

section {
  display: inline-block;
  padding-right: 10px;
}

section > div {
  display: inline-block;
  margin: 0 15 px;
}

.countdown p {
  color: #244c17;
}

.time-box {
  font-size: 1em;
}

.time-box div {
  font-size: 1.4em;
}

.game-showpage-title{
  font-size: 70px;
   font-family: 'Josefin Sans', sans-serif;
    margin-left: 40px;
    padding: 25px;
}

.showplay {
 margin-top: 50px;
}

.gameshowpage {
  height: 500px;
  width: 500px;
  border: 2px solid black;
  font-size: 30px;
  text-align: center;
  margin-left: 30px;
  border-radius:50px;
  }

  .gamepage-theme {
  margin-top: 30px
  }

  button {
  margin-top: 40px;
  width: 300px;
  font-size: 20px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddb4), color-stop(17%,#aad8b1), color-stop(53%,#5dbabc), color-stop(100%,#519b9b));
  border-radius: 35px;
  height: 65px;
  float: right;
  }