
.intro {
height: 400px;
  width : 1500px;
  text-align: center;
  color: black;
  font-size: 40px;
  margin-left: 0px;
  margin-bottom: 10px;
  padding: 150px 0;
  font-family: 'Josefin Sans', sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(45%,#fae3d5), color-stop(100%,#ffffff));
}
.main-title {
  color:#519b9b;
  font-family: 'Leckerli One', Helvetica, sans-serif;
  font-size: 125px;
  padding-bottom: 20px;
}
.desc-line-two {
padding-bottom: 20px;
}

.desc {
  padding-top: 20px;
}

.all-games{
  height: 100%;

}
.finished {
  border-radius: 20px;
  background-color: #FFFFFF;
  border: 5px solid #E04C59;
  height: 100px;
  width: 300px;
  margin-left: 142px;
  margin-top: 50px;
  float: left; 
}

.all-done {
  height: 1300px;
  width : 1500px;
  border-top: 5px solid white;
  display: block-inline;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(45%,#fae3d5), color-stop(100%,#ffffff));
  border-top: 10px solid #fae3d5;
}

.fin{
  font-family: 'Leckerli One', Helvetica, sans-serif;
  font-size: 85px;
  font-weight: normal;
  color:#519b9b;
  margin-top: 75px;
  margin-bottom: 20px;
}
.fin-description {
  font-size: 30px;
  color: #244c17;
  margin-bottom: 80px;
  margin-top: 15px;
}
.finished h3 {
  font-size: 25px;
  padding: 15px;
}
.finished p {
  font-size: 20px;

}

.wait {
  border-radius: 20px;
  background-color: #FFFFFF;
  border: 5px solid #FBCF53;
  height:300px;
  width:350px;
  margin-left: 105px;
  margin-top: 35px;
  float: left;
}

.waiting {
  height: 800px;
  width : 1500px;
  border-top: 10px solid #fae3d5;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(45%,#fae3d5), color-stop(100%,#ffffff));
}

.waiting h1 {
  font-family: 'Leckerli One', Helvetica, sans-serif;
  font-size: 85px;
  font-weight: normal;
  color:#519b9b;
  margin-top: 80px;
}

.waiting-description{
  font-size: 30px;
  color: #244c17;
  margin-bottom: 80px;
  margin-top: 15px;
}
.waiting h3 {
  font-size: 35px;
  padding-top: 35px;
  padding-bottom: 20px;
}
.date p {
  padding-bottom: 10px;
  font-size: 20px;
}
.date .time-box {
  padding-bottom: 40px;
  font-size: 18px;
}

.countdown{
  padding-top: 15px;
  width: 390px;
  margin-left: -40px;
  background: #FFFFFF;
  border: 5px solid #FBCF53;
  border-radius: 20px;
  padding: 15px;
  position: relative;
}

.countdown .time-box {
  font-size: 15px;
}

.countdown .time-box div {
  font-size: 55px;

}
.time-box {
  margin-left: 20px;
}
.play {
  border-radius: 75px;
  background-color: #FFFFFF;
  border: 5px solid #007385;
  height:350px;
  width:350px;
  margin-left: 107px;
  margin-top: 50px;
  float: left;
  position:relative;
  
}
.play p{
  font-size: 25px;
  padding-top: 26px;
}

.now {
  height: 800px;
  width : 1500px;
  border-top: 5px solid white;
  display: block-inline;
  text-align: center;
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(45%,#fae3d5), color-stop(100%,#ffffff));
  position:relative;

}

.now h1 {
  font-size: 85px;
  font-weight: normal;
  color:#519b9b;
  margin-top: 80px;
  font-family: 'Leckerli One', Helvetica, sans-serif;  
}
.now h3 {
  font-size: 35px;
  font-weight: 900;
  padding-top: 45px;
  padding-bottom: 15px;
  text-decoration:none; 
}

.now .playnow-description{
  font-size: 30px;
  color: #244c17;
  margin-bottom: 30px;
  padding-top:25px;
}

section {
  display: inline-block;
  padding-right: 10px;
}

section > div {
  display: inline-block;

}

.countdown p {
  color: #244c17;
}

.time-box {
  font-size: 1em;
}

.time-box div {
  font-size: 1.4em;
}

.board-container {
  height: 3000px;
  width: 1500px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  }

.game-showpage-title{
  font-size: 70px;
   font-family: 'Josefin Sans', sans-serif;
    margin-left: 60px;
    margin-top: 60px;
    padding: 25px;
    font-weight: normal;
    font-family: 'Leckerli One', Helvetica, sans-serif;
}

.gameshowpage {
  border-radius: 75px;
  background-color: #FFFFFF;
  border: 5px solid #007385;
  height:350px;
  width:350px;
  margin-left: 107px;
  margin-top: 50px;
  float: left;
  text-align: center;
  font-size: 20px;
}
.board-name {
  margin-top: 70px;
  font-size: 50px;

}
.board-label {
  font-size: 20px;
  padding-top: 75px;
}

.board-username {
  font-size: 30px;
}

.showplay {
  height: 300px;
  width: 1315px;
  font-size: 30px;
  margin-left: 90px;
  border-bottom:10px solid #007385;
  }

  .showplay1 {
  border-radius: 75px;
  background-color: #FFFFFF;
  border: 5px solid #007385;
  height:350px;
  width:350px;
  margin-left: 107px;
  margin-top: 50px;
  float: left;
  text-align: center;
  font-size: 25px;
  padding-top: 50px;

}
.showplay1 h3 {
  font-size:45px;
  padding-bottom: 50px;
}
.showplay1 p{
  font-size:30px;
  padding-bottom:25px;
}
.showplay2 {
  height: 300px;
  width: 1315px;
  font-size: 45px;
  margin-left: 90px;
  border-bottom:10px solid #007385;
  padding-top: 20px;
}

.gamepage-theme {
  margin-top: 30px
  }

.player{
  margin-left: 37%;
  font-size: 50px;
  padding-top: 30px

}
  button {
  margin-top: 20px;
  width: 300px;
  font-size: 20px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddb4), color-stop(17%,#aad8b1), color-stop(53%,#5dbabc), color-stop(100%,#519b9b));
  border-radius: 35px;
  height: 65px;
  float: right;
  margin-right: 350px;
  
  }
.formatted {
  font-size: 45px;
  padding-top: 15px;
}
